<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>L796QSLV3E</string>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ca.bc.gov.DevExMobileTestApp</key>
		<string>d77ed9a4-b1a1-45ee-a0c0-c78fe2369e31</string>
	</dict>
</dict>
</plist>