Hi {{#users}}@{{.}} {{/users}}{{^users}}BCDevOps users{{/users}},

This is a reminder to confirm the status of your repositories by **December 20, 2024**, as part of the migration to the bcgov GitHub Enterprise organization.

Please leave a comment on this issue to let us know if your repositories are:

* **Active** and ready for migration, OR
* **No longer needed** and can be archived.

If we don’t receive a response by the deadline, we’ll proceed with archiving your repositories.

Need help? Email [developer.experience@gov.bc.ca](mailto:developer.experience@gov.bc.ca).

Thank you for your attention!

**The Developer Experience Team, Digital Office**