Hi {{#users}}@{{.}} {{/users}}{{^users}}BCDevOps users{{/users}},

:rotating_light: Final call! This is your last chance to confirm the status of your repositories as part of the migration to the bcgov GitHub Enterprise organization.

Leave a comment on this issue by **December 20, 2024**, to confirm whether your repositories are:

* **Active** and ready for migration, OR
* **No longer needed** and can be archived.

If we don’t hear from you by the deadline, we’ll proceed with archiving your repositories.

Questions? Email [developer.experience@gov.bc.ca](mailto:developer.experience@gov.bc.ca).

Thank you for your prompt response!

**The Developer Experience Team, Digital Office**